bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
.vs/
*.dll
*.exe
*.pdb
*.cache
*.dbmdl
*.dbproj.schemaview
*.jfm
*.nupkg
*.snupkg
*.localhistory/
TestResult*/
*.coverage
*.launchSettings.json
